@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

a img {
  height: 40px;
  width: 40px;
  margin-top: 50px;
}

.github_logo {
  cursor: pointer;
  align-self: center;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

@media (max-height: 180px) {
  .github_logo {
    display: none;
  }
}
